@charset "UTF-8";

body {
	font-family: 'Unbounded', cursive;
	background-color: #f7f5ea;
	display:flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-bewteen;
}
select {
	border-radius: 8px;
	border: 1px solid #cecece;
}
.card{
	background-color:#f7f5ea;
}
.btn {
	font-weight:300;
	background-color:#FFA400;
	color: #263238;
	transition: all 200ms ease;
}
.btn:hover {
	color: #f7f5ea;
}
.admin-btn{
	background-color: #c65a3f;
	color:#f7f5ea;
}
.admin-btn:hover {
	background-color: #86230B;
	color:#f7f5ea;
}
.nav-link{
	font-family: 'Unbounded', cursive;
	font-weight:	300;
	color: #263238;
}
.nav-link:hover{
	color: #FFA400;
}
#logo {
	font-family: 'Unbounded', cursive;
	font-weight: 500;
}
.dropdown-toggle {
	font-family: 'Unbounded', cursive;
	font-weight: 300;
	color: #263238;
}
.dropdown-toggle:hover{
	color:white;
}
.dropdown-item {
	font-weight: 300;
	font-size: 10pt;
}
.carousel-control-prev{
	background-color:#e1e1e1;
	width:3vh;
	height:3vh;
	border-radius:50%;
	top:50%;
	transform: translateY(-50%);
	margin-left:-10px;
}
.carousel-control-next{
	background-color:#e1e1e1;
	width:3vh;
	height:3vh;
	border-radius:50%;
	top:50%;
	transform: translateY(-50%);
	margin-right:-10px;
}
.carousel-item{
	gap:20px;
}
.event-row{
	background-color: #FFC494;
}
.row-gapping{
	gap:15px;
}
ul, li {
	list-style-type: none;
}

.footer {
    bottom: 0;
    width: 100%;
}
.form-control, select{
	font-family: 'Unbounded', cursive;
	font-weight: 300;
	font-size: 13px;
}
.form-card{
	border: 2.5px solid #FFA400;
	border-radius:10px;
}
.admin {
	border: 2.5px solid #c65a3f;
}
.pet-profile{
	border: 2.5px solid #FFA400;
	border-radius: 10px;
	padding: 0px;
  object-fit: cover;
  width: auto;
  height: auto;
}